@import "tailwindcss";
@import "tw-animate-css";
@import "./fonts/circe-font.css";

@theme {
    /* font family */
    --font-circe: 'Circe', sans-serif;

    /* colors */

    --color-gray-01: #7b7b7b;
    --color-brand-orange: #fa4f02;
    --color-brand-blue: #003061;
    --color-brand-green: #198754;
    --color-brand-red: #dc3545;
    --color-brand-yellow: #ffc107;
    --color-gray-02: #eaeaea;
    --color-gray-03: #1e1e1f;
    --color-gray-04: #e2e1e2;
}

@layer base {
    * {
        font-family: var(--font-circe) !important;
    }

    a,
    button,
    label,
    span,
    textarea,
    input,
    select {
        display: inline-block;
    }

    ::selection {
        @apply text-brand-orange;
    }

    :root {
        --sidebar: oklch(0.985 0 0);
        --sidebar-foreground: oklch(0.145 0 0);
        --sidebar-primary: oklch(0.205 0 0);
        --sidebar-primary-foreground: oklch(0.985 0 0);
        --sidebar-accent: oklch(0.97 0 0);
        --sidebar-accent-foreground: oklch(0.205 0 0);
        --sidebar-border: oklch(0.922 0 0);
        --sidebar-ring: oklch(0.708 0 0);
    }
}